#Identity and access parameters
tenancy_ocid = ""

user_ocid = ""

compartment_ocid = ""

fingerprint = ""

region = "us-ashburn-1"

#networking

vcn_dns_name = "baseoci"

vcn_cidr = "10.0.0.0/16"

#compute

bastion_shape = "VM.Standard1.1"

nat_shape = "VM.Standard2.2"

redis_shape = "VM.Standard1.2"

#storage

redis_volume_size = 50

#redis settings
redis_port = 6379

redis_password = "a_very_strong_password"